@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #364345; // gris oscuro-negro
    --color-text-muted: ##b0b2b2; //gris claro
    --color-text-inverted: #ffffff; //blanco

    --color-primary1: #80cbc4; //celeste
    --color-primary1-hover: #70b1ab;

    --color-primary2: #b2fef7;
    --color-primary2-hover: #9ee1db;

    --color-secondary1: #009688; //turquesa
    --color-secondary1-hover: #026e64;

    --color-secondary2: #52c7b8;
    --color-secondary2-hover: #3d958a;
  }
}
