@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #364345;
    --color-text-muted: #b0b2b2;
    --color-text-inverted: #ffffff;
    --color-text-primary: #80cbc4;
    --color-text-secondary: #009688;
    --color-text-secondark: #00675b;

    --color-primary1: #80cbc4;
    --color-primary1-hover: #b2fef7;
    --color-primary2: #b2fef7;
    --color-primary2-hover: #9ee1db;
    --color-secondary1: #009688;
    --color-secondary1-hover: #026e64;
    --color-secondary2: #52c7b8;
    --color-secondary2-hover: #3d958a;

    --color-plain: #eef3ff;
    --color-plain-dark: #dbdfe7;

    --color-bprimary: #80cbc4;
    --color-bdark: #dbdfe7;
  }

  li {
    @apply p-4 text-skin-base md:text-sm md:p-2  lg:text-base lg:p-4;
  }

  button {
    @apply text-skin-base rounded-full border-2 border-skin-bprimary bg-skin-primary1 duration-500 hover:bg-skin-primary1-hover py-3 my-2 md:py-1 md:text-xs lg:py-2 lg:text-base;
  }
}
